@charset "UTF-8";
@import './var/base.css';
@import './var/color.css';
@import './var/fn.css';
@import './var/fontSize.css';
@import './var/layout.css';

/*css 初始化 */
@custom-selector :--reset html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, p, span, div, table, tr, td, article, footer, header, nav, audio, video, textarea, button, input;
@custom-selector :--outline fieldset, img ,input, button; /*去掉input等聚焦时的蓝色边框*/
@custom-selector :--listStyle ul, li, ol;
@custom-selector :--verticalAlign select,input;
@custom-selector :--inputSize select, input, textarea;
@custom-selector :--hSize h1,h2,h3,h4,h5,h6;

:root{
	--elformtwo{
		width: 49%;
		display: inline-block;
	};
	--elformthree{
		width: 32.5%;
		display: inline-block;
	}
}

html,body{
	@apply --baseLayout;
}
body {
	@apply --defaultFontSize;
	background: var(--background_color);
	color: var(--mainText_color);
}
input { 
	padding-top:0; 
	padding-bottom:0; 
	font-family: "SimSun","宋体";
}
textarea { 
	resize:none; 
} /*防止拖动*/
img {
	border:0; 
	vertical-align:var(--middle); 
}  /*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { 
	border-collapse:collapse; 
}
.clearfix{
	*zoom:1;/*IE/7/6*/
	&:after{
		@apply --clearFloat;
	}
}
a {
	color:var(--black); 
	text-decoration:none; 
	&:hover{
		color:var(--blue);
	}
}
#app{
	@apply --flexColumn;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.icon{
  margin: 0 4px;
}
.hide{
  display: none;
}
.el-menu--horizontal>.el-submenu .el-submenu__title{
	height: 100% !important;
	display: flex;
	@apply --flexCenter;
}
.scrollBox{
	& .el-scrollbar__wrap{
		overflow-x: hidden !important;
	}
}

.hy_searchBox{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px 0 0;
  & .hy_searchAddBtn{
    margin-top: 1px;
    margin-right: 20px;
  }
}

.hy_userFrom{
	& .el-form-item:nth-of-type(4){
		@apply --elformtwo;
		margin-right: 2%;
	}
	& .el-form-item:nth-of-type(6){
		@apply --elformtwo;
		margin-right: 2%;
	}
	& .el-form-item:nth-of-type(5){
		@apply --elformtwo;
	}
	& .el-form-item:nth-of-type(7){
		@apply --elformtwo;
	}
	& .el-form-item:nth-of-type(9){
		@apply --elformthree;
		margin-right: 1.25%;
	}
	& .el-form-item:nth-of-type(10){
		@apply --elformthree;
		margin-right: 1.25%;
	}
	& .el-form-item:nth-of-type(11){
		@apply --elformthree;
	}
}