@import '../../styles/var/layout.css';
@import '../../styles/var/color.css';
.flexSpace{
  min-height: 48px;
  @apply --flexRow;
  @apply --flexSpaceBetween;
}
.themeFirst{
  @apply --flexRow;
  width: 100%;
  min-width: 800px;
  & .mainBox{
    @apply --flexColumn;
    overflow: hidden;
    flex: 1;
    & .closeOrexpend{
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 10px;
    }
    & .mainContentBox{
      flex: 1;
      @apply --flexColumn;
      & .hyTabs{
        width: 100%;
      }
      & .mainContent{
        flex: 1;
        background: #fff;
        margin: 10px;
        border-radius: 6px;
      }
    }
  }
  /* & .header{
    background: url('../../assets/topBg.png') no-repeat fixed top;
  } */
  
}