@import '../../styles/var/layout.css';
@import '../../styles/var/color.css';
.flexSpace{
  min-height: 48px;
  @apply --flexRow;
  @apply --flexSpaceBetween;
}
.themeFirst{
	flex: 1;
	@apply --flexColumn;
	& .leftHeader{
		@apply --flexRow;
		@apply --flexCenter;
		& .leftLogo{
			padding: 0 56px 0 0;
			min-height: 48px;
		}
		& .closeOrexpend{
			width: 20px;
		    height: 20px;
		    cursor: pointer;
		    margin-left: 20px;
		}
	}
	& .mainBox{
		flex: 1;
		@apply --flexColumn;
		padding-left: 200px;
		& .mainContent{
        	flex: 1;
	        background: #fff;
	        margin: 10px;
	        border-radius: 6px;
	    }
	}
	& .menuBox{
		position: fixed;
		width: 200px;
		left: 0;
		top: 48px;
		height: calc(100% - 48px)
	}
}