@import '../../styles/var/layout.css';
@import '../../styles/var/color.css';
.flexSpace{
  min-height: 48px;
  @apply --flexRow;
  @apply --flexSpaceBetween;
}
.themeTwo{
  @apply --flexColumn;
  flex: 1;
  & .leftLogo{
    width: 200px;
    height: 100%;
  }
  & .rightMenuUser{
    flex: 1;
    @apply --flexRow;
    height: 100%;
  }
  & .mainContentBox{
    flex: 1;
    @apply --flexRow;
    & .menuBox{
    	display: flex;
    }
    & .leftMainContent{
      flex: 1;
      width: calc(100% -200px);
      @apply --flexColumn;
      & .mainContent{
        flex: 1;
        background: #fff;
        margin: 10px;
        border-radius: 6px;
      }
    }
    
  }
  /* & .header{
    background: url('../../assets/topBg.png') no-repeat fixed top;
  } */
  
}