@import '../../styles/var/layout.css';
@import '../../styles/var/color.css';
.flexSpace{
  min-height: 48px;
  @apply --flexRow;
  @apply --flexSpaceBetween;
}
.themeTwo{
  @apply --flexColumn;
  width: 100%;
  min-width: 1100px;
  & .leftLogo{
    width: 200px;
  }
  & .rightMenuUser{
    flex: 1;
  }
  & .mainContentBox{
    flex: 1;
    @apply --flexColumn;
    & .mainContent{
      flex: 1;
      background: #fff;
      margin: 10px;
      border-radius: 6px;
    }
  }
  /* & .header{
    background: url('../../assets/topBg.png') no-repeat fixed top;
  } */
}